@font-face
  font-family: 'myFont'
  src: url('../fonts/mfbanhei_noncommercial-regular-webfont.eot')
  src: url('../fonts/mfbanhei_noncommercial-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/mfbanhei_noncommercial-regular-webfont.woff') format('woff'),
       url('../fonts/mfbanhei_noncommercial-regular-webfont.ttf') format('truetype'),
       url('../fonts/mfbanhei_noncommercial-regular-webfont.svg#mf_banhei_noncommercial_regRg') format('svg')
  font-weight: normal
  font-style: normal

html, body
  height: 100%
  font-family: 'PingFang SC','STHeitiSC-Light','Helvetica-Light',arial,sans-serif
  min-width: 900px // 这里限制最小宽度，否则很丑
